mixin row_text(keyName, value)
     div(class='flex justify-between items-center gap-12 my-3')
          p(class='text-slate-600 font-bold uppercase')= keyName
          p(class='text-slate-900')= value