extends ../global_layout.pug

block content   
     script(type='text/javascript').
          u("#sidebar-author").addClass("bg-slate-700")

     div
          div.flex.justify-between.items-center
               p.font-bold.text-xl.text-slate-900 AUTHOR
               +primary_button('Create', 'openCreateModal()', colorScheme='slate')

          div.h-4
          div.bg-white.p-8.shadow-lg.shadow-slate-200.rounded-2xl
               if authors.length > 0
                    table.table.w-full
                         thead.table-header-group.bg-slate-100
                              tr.table-row
                                   th.table-cell.text-left.p-3 ID
                                   th.table-cell.text-left NAME
                                   th.table-cell.text-left BOOKS COUNT
                                   th.table-cell.text-left.w-8         
                         tbody.table-row-group
                              each author in authors
                                   tr(class="table-row hover:bg-slate-50 hover:cursor-pointer group")
                                        td.table-cell.p-3 #{author.id}
                                        td.table-cel #{author.name}
                                        td.table-cel #{author._count.books}
                                        td.table-cel
                                             i(class="material-icons hidden group-hover:block w-4", onclick=`openDeleteModal(${author.id})`) delete
               else 
                    +announcement('illustration_no_data.svg', 'You have not created any author')

     include create_author_modal.pug
     include delete_author_modal.pug
