extends ../global_layout.pug

block content   
     div 
          div(class='flex justify-between')
               p(class='font-bold text-xl text-slate-900') CATEGORY
               button(id="open-category-modal", class='bg-slate-900 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded', onclick='openModal()') Tạo mới
          div(class='p-4')
          if categories.length > 0
               div(class='bg-white p-8 shadow-slate-950 rounded-xl')
                    table(class='table w-full shadow-slate-900')
                         thead(class='table-header-group bg-slate-100')
                              tr(class='table-row')
                                   th(class="table-cell text-left p-3") ID
                                   th(class="table-cell text-left") NAME
                                   th(class="table-cell text-left") BOOKS COUNT
                                   th(class="table-cell text-left") CREATED AT
                         tbody(class="table-row-group")
                              each category in categories
                                   tr(class="table-row hover:bg-slate-50 hover:cursor-pointer")
                                        td(class="table-cell p-3") #{category.id}
                                        td(class="table-cell") #{category.name}
                                        td(class="table-cell") #{category._count.books}
                                        td(class="table-cell") #{category.createdAt}
          else 
               +announcement('illustration_no_data.svg', 'You have not created any category')

     include create_category_modal.html

     script(type="text/javascript").
          const openModal = () => {
               u("#create-category-modal-overlay").removeClass('hidden')
               u("#create-category-modal").removeClass('hidden')   
          }

          const closeModal = () => {
               u("#create-category-modal-overlay").addClass('hidden')
               u("#create-category-modal").addClass('hidden');   
          }

          const submitCreateCategory = async () => {
               const categoryName = u('#name').nodes[0].value;
               axios.post('http://localhost:3000/category', {
                    name: categoryName
               })
               .then(() => location.reload(true))
               .catch((error) => showDangerToast(error.response.data.message.toString()));
          }