div(id="create-book-modal", class="hidden fixed z-40 w-screen h-screen inset-0 bg-gray-900 bg-opacity-60")
     div(class="fixed z-50 top-1/2 left-1/2 -translate-x-1/2 -translate-y-3/4 w-96 bg-white rounded-md px-8 py-6 space-y-5 drop-shadow-lg")
          div(class="flex justify-between")
               p(class="text-xl font-semibold") Create new book 
               i(class="material-icons w-8 cursor-pointer", onclick="closeCreateModal()") close
          form(class="grid gap-4 mb-4 grid-cols-2")
               div(class="col-span-2")
                    label(for="name", class="block mb-2 text-sm font-medium text-slate-900") Name 
                    input(type="text", name="name", id="name", class="bg-slate-50 border border-slate-300 text-slate-900 text-sm rounded-lg focus:bg-transparent focus:border-primary-600 block w-full p-2.5", placeholder="Type book name", required)
                    div(class='h-4')
                    label(for="description", class="block mb-2 text-sm font-medium text-slate-900") Description 
                    input(type="text", name="description", id="description", class="bg-slate-50 border border-slate-300 text-slate-900 text-sm rounded-lg focus:bg-transparent focus:border-primary-600 block w-full p-2.5", placeholder="Type book description")
                    div(class='h-4')
                    label(for="publishedYear", class="block mb-2 text-sm font-medium text-slate-900") Published Year 
                    input(type="number", name="publishedYear", id="publishedYear", class="bg-slate-50 border border-slate-300 text-slate-900 text-sm rounded-lg focus:bg-transparent focus:border-primary-600 block w-full p-2.5", placeholder="Type book published year")
                    div(class='h-4')
                    label(for="publishedYear", class="block mb-2 text-sm font-medium text-slate-900") Published Year 
                    include ../mixin/dropdown.html

          div(class="flex justify-end")
               button(id="submit-button", type="submit", class="bg-slate-900 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded", onclick="submitCreatebook()") Submit
     
     +toast('danger', 'create-book-toast')

     script(type="text/javascript").
          const openCreateModal = () => {
               u("#create-book-modal").removeClass('hidden')   
          }

          const closeCreateModal = () => {
               u("#create-book-modal").addClass('hidden');   
          }

          const submitCreatebook = async () => {
               const bookName = u('#name').nodes[0].value;
               axios.post('/book', {
                    name: bookName
               })
               .then(() => location.reload(true))
               .catch((error) => showToast('#create-book-toast', error.response.data.message.toString()));
          }