mixin pick_book_menu(books)
     div.bg-white.p-8.shadow-lg.shadow-slate-200.rounded-2xl.grid.grid-cols-3.gap-12
          each book in books 
               div.flex.flex-col.gap-3.cursor-pointer.group
                    img(
                         id=`book-menu-item-${book.id}`
                         src=book.imageUrls[0],
                         class="h-48 rounded-xl object-cover object-center group-hover:contrast-125"
                    )
                    p(class="text-slate-700 group-hover:font-bold") #{book.name}