include mixin/announcement.pug
include mixin/toast.pug
include mixin/row_text.pug

doctype html
html
     head
     meta(charset="utf-8")
     meta(http-equiv="X-UA-Compatible", content="IE=edge")
     meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
     title BookWorm Admin
     script(src="https://cdn.tailwindcss.com")
     script(src="https://cdn.jsdelivr.net/npm/umbrellajs")
     script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
     link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
     body(class='overflow-y-hidden text-slate-900 text-base')
          div(class='flex h-screen')
               aside(class='flex flex-col bg-slate-900 p-4 gap-1')
                    div(class='flex gap-4 text-gray-50 p-4 items-center')
                         img(src='http://localhost:3000/logo.png', class='w-8')
                         p(class='font-bold') BookWorm Admin
                    div(class='h-2')
                    div(id='sidebar-book', class='flex gap-4 text-gray-50 hover:bg-slate-700 p-4 rounded-lg cursor-pointer items-center')
                         i(class="material-icons w-8") menu_book
                         p(class='') Book
                    div(id='sidebar-category', class='flex gap-4 text-gray-50 hover:bg-slate-700 p-4 rounded-lg cursor-pointer items-center')
                         i(class="material-icons w-8") category
                         p(class='') Category
                    div(class='flex gap-4 text-gray-50 hover:bg-slate-700 p-4 rounded-lg cursor-pointer items-center')
                         i(class="material-icons w-8") batch_prediction
                         p(class='') Batch
                    div(class='flex gap-4 text-gray-50 hover:bg-slate-700 p-4 rounded-lg cursor-pointer items-center')
                         i(class="material-icons w-8") bolt
                         p(class='') Promotion List
                    div(class='flex gap-4 text-gray-50 hover:bg-slate-700 p-4 rounded-lg cursor-pointer items-center')
                         i(class="material-icons w-8") filter_frames
                         p(class='') Order
                    div(class='flex gap-4 text-gray-50 hover:bg-slate-700 p-4 rounded-lg cursor-pointer items-center')
                         i(class="material-icons w-8") diversity_1
                         p(class='') Customer
                    div(class='flex gap-4 text-gray-50 hover:bg-slate-700 p-4 rounded-lg cursor-pointer items-center')
                         i(class="material-icons w-8") info
                         p(class='') About
                    div(class="grow")
                    div(class='flex gap-4 text-gray-50 p-4 items-center')
                         i(class="material-icons w-8") account_circle
                         p(class='font-bold') Huy Le Nguyen Truong
               div(class="pt-6 pl-6 pr-6 grow bg-slate-50 overflow-y-auto")
                    block content