extends ../global_layout.pug

block content   
     script(type='text/javascript').
          u("#sidebar-publisher").addClass("bg-slate-700")

     div
          div.flex.justify-between.items-center
               p.font-bold.text-xl.text-slate-900 PUBLISHER
               +primary_button('Create', 'openCreateModal()', colorScheme='slate')

          div.h-4
          div.bg-white.p-8.shadow-lg.shadow-slate-200.rounded-2xl
               if publishers.length > 0
                    table.table.w-full
                         thead.table-header-group.bg-slate-100
                              tr.table-row
                                   th.table-cell.text-left.p-3 ID
                                   th.table-cell.text-left NAME
                                   th.table-cell.text-left BOOKS COUNT
                                   th.table-cell.text-left.w-8         
                         tbody.table-row-group
                              each publisher in publishers
                                   tr(class="table-row hover:bg-slate-50 hover:cursor-pointer group")
                                        td.table-cell.p-3 #{publisher.id}
                                        td.table-cel #{publisher.name}
                                        td.table-cel #{publisher._count.books}
                                        td.table-cel
                                             i(class="material-icons hidden group-hover:block w-4", onclick=`openDeleteModal(${publisher.id})`) delete
               else 
                    +announcement('illustration_no_data.svg', 'You have not created any publisher')

     include create_publisher_modal.pug
     include delete_publisher_modal.pug
